.video-background {
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -100;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
@media (min-width: 1000px) {
  .video-background iframe,.video-foreground,ReactPlayer {
      pointer-events:none
  }
}

#youtube-player {
  width: 640px;
  height: 360px;
}

#youtube-player > div {
  width: 100%;
  height: 100%;
}